.room {
    height: 100vh;
}

.lit {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

.on {
    background-color: turquoise;
    color: pink;
}

.off {
    background-color: pink;
    color: turquoise;
}